<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.5"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

<!-- Nombre de nuestra aplicacion Web -->
<display-name>Vulnerable Chess Game</display-name>
<!-- Tiempo en minutos de duracion de una sesion -->
<session-config>
<session-timeout>30</session-timeout>
</session-config>
<!-- Lista de archivos de bienvenida -->
<welcome-file-list>
<welcome-file>html/login.jsp</welcome-file>
</welcome-file-list>

<servlet>
<servlet-name>MatchServlet</servlet-name>
<servlet-class>core.sebas.servlets.MatchServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>MatchServlet</servlet-name>
<url-pattern>/Play</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Load</servlet-name>
<servlet-class>core.sebas.servlets.Load</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Load</servlet-name>
<url-pattern>/Load</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>LoadGame</servlet-name>
<servlet-class>core.sebas.servlets.LoadGame</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>LoadGame</servlet-name>
<url-pattern>/LoadGame</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Save</servlet-name>
<servlet-class>core.sebas.servlets.Save</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Save</servlet-name>
<url-pattern>/Save</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>SaveGame</servlet-name>
<servlet-class>core.sebas.servlets.SaveGame</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>SaveGame</servlet-name>
<url-pattern>/SaveGame</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>FirstAuthentication</servlet-name>
<servlet-class>core.sebas.servlets.FirstAuthentication</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>FirstAuthentication</servlet-name>
<url-pattern>/FirstLogin</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Authentication</servlet-name>
<servlet-class>core.sebas.servlets.Authentication</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Authentication</servlet-name>
<url-pattern>/Login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Timer</servlet-name>
<servlet-class>core.sebas.servlets.Timer</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Timer</servlet-name>
<url-pattern>/Timer</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Game</servlet-name>
<servlet-class>core.sebas.servlets.Game</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Game</servlet-name>
<url-pattern>/Game</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>Serialization</servlet-name>
<servlet-class>core.sebas.servlets.Serialization</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>Serialization</servlet-name>
<url-pattern>/Serialization</url-pattern>
</servlet-mapping>

</web-app>